<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--sectionGroup节点一定要在紧跟着configuration下面第一个添加-->
    <sectionGroup name="spring">
      <!--跟下面Spring.Net节点配置是一一对应关系-->
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <!--Spring.Net节点配置-->
  <spring>
    <!--容器配置-->
    <context>
      <resource uri="config://spring/objects" />
    </context>
    <objects>
      <!--objects里面放容器的所有节点-->
      <description>An example that demonstrates simple Ioc features.</description>
      <!--描述-->
      <!--name 必须要唯一的，type = 类的全名称，所在的程序集-->
      <object name="UserInfo" type="spring.net_Demo.UserInfo,spring.net_Demo"></object>
      <!--咱们刚才创建的UserInfo实体类-->
    </objects>
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=spring.net_Demo.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="samplemanageguodujksEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.216;initial catalog=samplemanageguodujks;persist security info=True;user id=sa;password=905E27CF6F8CCF0CF5259F9B3DCE1F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="samplemanageguodujksEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.216;initial catalog=samplemanageguodujks;persist security info=True;user id=sa;password=905E27CF6F8CCF0CF5259F9B3DCE1F;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>